SHOPIFY_API_KEY=
SHOPIFY_API_SECRET_KEY=
SHOPIFY_API_VERSION=2022-07
SCOPES=write_customers,write_orders,write_products
USE_OFFLINE_ACCESS_TOKEN=false
SHOP=example.myshopify.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NGROK_AUTH_TOKEN=

# APP_OFFLINE_ACCESSTOKEN will be auto generated, when you authenticate your app with your dev store
APP_OFFLINE_ACCESSTOKEN=
